name: Manual Dispatch Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Enter environment"
        required: true
        default: "staging"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Show input
        run: echo "Deploying to ${{ github.event.inputs.environment }}"
