name: Push Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: echo "This workflow runs on PUSH to main branch"
