name: Deploy (Staging or Production)

on:
  push:
    branches: [develop] 
  workflow_dispatch:
    inputs:
     target_env:
        description: "Choose environment"
        required: true
        default: "staging"
        type: choice
        options:
          - staging
          - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target_env }}

    env:
      APP_NAME: "myapp"

    steps:
      - name: Show which environment
        run: |
          echo "Deploying $APP_NAME to: ${{ inputs.target_env }}"

      - name: Connect to server using environment secret
        run: |
          echo "Server IP is hidden in secrets"
          echo "Server: ${{ secrets.SERVER_IP }}"
